* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #11272C; /* Gunmetal */
  --secondary-color: #2F879D; /* Munsell blue */
  --tertiary-color: #91c4c3; /* Caribbean current */
  --accent1-color: #DEC668; /* Citron */
  --accent2-color: #CFECF2; /* Light cyan */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
  --border: 1px solid rgb(0 0 0 / .2);
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: var(--accent2-color);
  padding: .7rem;
}

header img {
  justify-content: center;
  margin-left: 4rem;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

header nav li {
  flex: .22;
}

header nav a {
  display: block;
  text-align: center;
  padding: .5rem 0;
  text-decoration: none;
  font-size: 1rem;
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
  background-color: white;
  height: 100%;
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h2:not(.trip-information h2) {
  font-family: var(--heading-font);
  color: #eee;
  background-color: var(--primary-color);
  padding: 8px;
  margin-bottom: 1rem;
}

nav, p, article {
  margin: 16px;
  padding: 8px;
}

.hero {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  font-family: var(--heading-font);
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--accent2-color);
  color: var(--primary-color)
}

.hero article {
  position: absolute;
  bottom:50px;
  width: 95%;
  padding: 12px;
  opacity: 0.9;
  text-align: left;
  background-color: var(--accent2-color);
  color: var(--primary-color)
}

.hero article img {
  float: right;
  width: 120px;
  margin-left: 12px;
  border-radius: 6px;
}

.history {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
  border: .2rem solid var(--primary-color);
  margin-bottom: 1rem;
}

.history img {
  grid-column: 2/3;
  grid-row: 1;
}

.history p {
  margin: 0;
  align-self: center;
  grid-row: 1;
}

.socialmedia {
  display: flex;
  justify-content: flex-end;
}

.socialmedia img {
  width: 40px;
  margin: 0 4px;
}

.adventure{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  border: .2rem solid var(--primary-color);
  margin-bottom: 1rem;
  padding: .5rem;
}

.adventure img, .serve img {
  width: 150px;
  height: auto;
  grid-row: 1;
}

.contact-info, .trip-options {
  font-family: var(--heading-font);
  text-align: center;
  padding: 1px;
}

.contact-info h1, .trip-options h1 {
  margin: .5rem;
  padding: .5rem;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border: none;
}

form {
  width: 100%;
  max-width: 400px;
  grid-column: 2;
  margin: 1rem auto;
  padding: 1rem;
}

.contact-form input, .radio-group input, .textarea-group textarea, .checkbox input{
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
}

.contact-form, .radio-group, .textarea-group {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: .25rem;
}

.contact-form label, .radio-group label, .textarea-group label {
  text-align: left;
  margin-right: 1rem;
}

.radio-group label, .textarea-group label {
  align-self: start;
}

.radio-options {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.radio-options label {
  text-align: left;
}

.checkbox {
  gap: .5rem;
  margin: .5rem;
}

.contact-form button, .newsletter button {
  grid-column: span 2;
  margin: 1rem;
  background-color: var(--accent2-color);
  color: var(--primary-color);
  border: var(--border);
  border-radius: .25rem;
  padding: .5rem;
}

iframe {
  margin-top: 2rem;
}

.serve {
  border: .2rem solid var(--primary-color);
  color: var(--primary-color);
  margin: 1rem 0rem;
  padding: 0;
}

.serve h2 {
  color: var(--primary-color);
  background-color: white;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.serve div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-items: center;
} 

.call-to-action {
  place-items: center;
  background-color: var(--primary-color);
  padding: 2rem;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: .8rem;
}

.cta-button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: var(--accent2-color);
  border: var(--border);
  border-radius: .5rem;
  text-decoration: none;
  color: var(--primary-color);
}

.newsletter {
  background-color: var(--tertiary-color);
  padding: 1.5rem .2rem;
  border: solid var(--primary-color);
  text-align: center;
  margin: 1rem 0rem;
}

.newsletter h3 {
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.newsletter div {
  margin: .8rem;
  font-size: 1.2rem;
}

.purpose-offerings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.purpose-offerings img {
  width: 260px;
  height: auto;
  margin-bottom: .6rem;
}

.purpose-offerings figcaption{
  text-align: center;
  font-family: var(--heading-font);
  font-size: 1.4rem;
  margin: .5rem;
}

.trip-options article {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  text-align: left;
  font-family: var(--body-font);
}

.trip-options h2 {
  grid-row: 1;
  grid-column: span 2;
}

.trip-options article img{
  width: 200px;
  margin-left: 12px;
  border-radius: 6px;
}

table {
    border-collapse: collapse;
    border: var(--border);
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 1rem 2rem;
}

thead {
    background-color: var(--accent2-color);
}

th, td {
    border: var(--border);
    padding: 8px 10px;
}

.trip-information h2 {
  text-align: center;
  font-style: var(--heading-font);
  padding: .5rem;
}

.additional-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  padding: .5rem;
  font-size: 1.1rem;
}

.additional-lists h3 {
  grid-row: 1;
  margin-bottom: .7rem;
}

.additional-lists li {
  margin: .3rem;
}

footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: var(--accent2-color);
}

footer p {
  align-content: center;
  margin-left: 9rem;
  margin-right: 2rem;
}