
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-background-color: #1E2021;
  --text-color: #1E2021;
  --box-shadow: 0 0 30px #808080;
  --border: 1px solid black;
  --text-align: center;
}

body{
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif
}

header, .grid, footer{
  max-width: 840px;
  margin: 0 auto;
}

nav {
  display: flex;
  background-color: var(--nav-background-color);
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: #eee;
  display: block;
  padding: .6rem;
  text-decoration: none;
  font-size: larger;
}

h1 {
    color: var(--text-color);
    /* padding: 1rem 0 0 0; */
    border-bottom: 1.5px solid #1E2021;
    font-size: 1.8rem;
    text-align: center;
}

main img {
    width: 135px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
    float: right;
    margin: .5rem;
}

p {
    padding: 0;
    margin: 1rem;
}

aside {
  /* width: 20rem; */
  text-align: var(--text-align);
  position: relative;
  grid-column: 1;
  grid-row: 1;
}

aside img {
  width: 300px;
  height: auto;
  box-shadow: var(--box-shadow);
}

aside h2 {
  position: absolute;
  top: 26px;
  left: 175px;
}

footer {
  margin-top: 15px;
  border-top: var(--border);
  text-align: var(--text-align);
}

/* Class Selectors */

.box {
/* margin: 1rem; */
padding: 1rem;
border: 1px solid rgb(0 0 0 / 0.2); 
background-color: #eee;
color: var(--text-color);
}

.indent {
  padding-left: 2rem;
}

.grid {
  margin: .8rem auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}