:root {
  --nav-background-color: #1E2021;
  --text-color: #1E2021;
  --box-shadow: 0 0 30px #808080;
  --border: 1px solid black;
  --text-align: center;
}

nav {
  background-color: var(--nav-background-color);
  padding: 10px;
}
nav a {
  color: #eee;
  display: block;
  padding: 20px;
}
h1 {
    color: var(--text-color);
}
main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); 
    padding: 1rem;
    background-color: #eee;
    color: var(--text-color);
    text-align: var(--text-align);
}
aside img {
  width: 200px;
  height: auto;
  box-shadow: var(--box-shadow);
}
footer{
  margin-top: 15px;
  border-top: var(--border);
  text-align: var(--text-align);
}
